<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout/main}">
<head>
</head>
        <div layout:fragment="content" >

            <!-- remplazar aqui -->
            <div class="principal-index  principal-fade">
                <img src="img/main/main.jpg" alt="">
                <div class="principal-info animated pulse">
                    <h2>LIFE</h2>
                    <p>Dress like you’re going to meet your worst enemy today</p>
                    <a href="galeria/index.html">View Gallery</a>
                </div>
            </div>

        </div>

</body>
</html>
